$bp: "only screen and (max-width: 767px)";

$basic_font: 'Droid Sans','Noto Sans Japanese',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;

$font_alphabet: "Neue Helvetica",Arial,Osaka,Sans-Serif;

$color_text: #636b70;
