


section{
    height:100vh;
    border-bottom:2px #fff solid;
}

main{
    background:red;
    transition:1s;
}
main.a{
    background:red;
}
main.b{
    background:blue;
}
main.c{
    background:#fff;
}
main.d{
    background:yellow;
}
