:root{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background:#fff;
    color:#111;
}

.g_header{
    height:90vh;
    background-image: url('../img/firstview_bg.png');
    background-position: center center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;

    nav{
        display:none;
    }
    .fv_cf{
        display:flex;
        justify-content: center;
        align-items: center;
        .movie{
            width:480px;
            height:60vh;
            background:#666;
            border-radius:300px 300px 10px 10px;
            overflow :hidden;
            display:flex;
            justify-content:center;
            align-items: center;
            iframe{
                scale: 2;
            }
        }
        h1{
            width:600px;
            position:absolute;
            z-index:1;
            display:flex;
            justify-content: center;
            flex-flow: column;
            gap:60px;
            color:#fff;
            span{
                display:block;
                text-align: center;
                text-shadow: 0 0 30px rgba(0,0,0,0.1);
                &.l{
                    font-size: 80px;
                }
                &:first-child{
                    text-align: left;
                }
                &:last-child{
                    text-align: right;
                }
            }

        }
    }
}



@media (640px >= width) {

    .g_header{
    height:90vh;
    overflow: hidden;

    .fv_cf{
        .movie{
            width:55%;
            height:60vh;
            iframe{
                scale: 3;
            }
        }
        h1{
            width:80%;
            position:absolute;
            z-index:1;
            display:flex;
            justify-content: center;
            flex-flow: column;
            gap:50px;
            color:#fff;
            span{
                display:block;
                text-align: center;
                &.l{
                    font-size: 64px;
                }
                &:first-child{
                    text-align: left;
                }
                &:last-child{
                    text-align: right;
                }
            }

        }
    }
}




}